<section class="container-fluid efecto">
  <article class="row m-0">
    <h3 class="sobre-mi" id="about">Sobre mi</h3>
    <div
      class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"
      data-aos="fade-down"
    >
      <img
        class="img"
        src="../../../assets/img/img-perfil.jpg"
        alt="imagen de perfil"
      />
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 descripcion" data-aos="fade-up">
      <p style="font-size: 1.5rem">
        Apasionado por la tecnología y el desarrollo de software, con 1.5 años
        de experiencia en proyectos que combinan tanto desarrollo Frontend como
        backend. Mi perfil está orientado al Frontend, pero durante este ultimo
        tiempo me he desempeñado en roles Fullstack, con tecnologias modernas
        como como React, Node.js, Express y MySQL. Destaco por mi proactividad,
        capacidad de colaboración en equipo y entusiasmo por aprender. Busco
        unirme a un equipo dinámico donde pueda seguir creciendo
        profesionalmente, aportando mis conocimientos y enfrentando nuevos
        desafíos con un enfoque orientado a resultados.
      </p>
      <app-btn-descargar-cv [valorBtn]="textoBtn"></app-btn-descargar-cv>
    </div>
  </article>
</section>
