<section class="container-fluid efecto">
  <article class="row m-0">
    <h3 class="sobre-mi" id="about">Sobre mi</h3>
    <div
      class="col-sm-12 col-md-4 col-lg-4 d-flex justify-content-center"
      data-aos="fade-down"
    >
      <img
        class="img"
        src="../../../assets/img/img-perfil.jpg"
        alt="imagen de perfil"
      />
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8 descripcion" data-aos="fade-up">
      <p>
        Soy una persona responsable y comprometida con mis tareas. Destaco de mí
        el compañerismo, el trabajo en equipo y la adaptabilidad al cambio. Mi
        experiencia laboral es limitada, pero demostré rápido aprendizaje y
        compromiso con mis estudios, completando con éxito hasta la fecha el 60%
        de los mismos. Mi motivación es pertenecer a un equipo al cual
        contribuir con mis conocimientos, a través de un enfoque proactivo y de
        aprendizaje continuo. Estoy preparado para afrontar cualquier tipo de
        desafíos.
      </p>
      <app-btn-descargar-cv [valorBtn]="textoBtn"></app-btn-descargar-cv>
    </div>
  </article>
</section>
