.hero {
  height: 100vh;
  background-color: var(--blanco);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.hero h1 {
  font-size: 3.3rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.name {
  color: var(--celeste-claro);
}
