<section class="container-fluid container-proyectos">
  <h3 class="proyectos text-center">PROYECTOS</h3>
  <article class="row contain d-flex justify-content-between">
    <!-- QUIZZ -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Juego de preguntas</h4>
        <p>
          Esta app fue desarrollada con React js, TypeScript para la
          funcionalidad dinámica, Bootstrap para el diseño y HTML/CSS para la
          estructura y el estilo. Además, integra el consumo con axios de un
          JSON que simula una API externa.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://cuestionario-app.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/Hernan-99.github.io"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img class="b-side" src="../../../assets/img/quizz.png" alt="" />
      </div>
    </div>

    <!-- CUAL ES MI NUMERO -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Cual es mi numero</h4>
        <p>
          Juego interactivo. Desarrollado utilizando HTML, CSS y vanilla
          JavaScript, este juego te reta a adivinar un número secreto en un
          máximo de 10 intentos. Desktop.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://cual-es-mi-numero.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/cual_es_mi_numero"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/juego.png" alt="" />
      </div>
    </div>

    <!-- TRECAFFE -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Landing page cafeteria</h4>
        <p>
          App desarrollada con JavaScript y Jquery para aplicar funcionalidad,
          HTML y CSS para la estructura y el estilo. Desktop/Mobile.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://trecafe1.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/pagina-de-cafe"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/cafeteria.png" alt="" />
      </div>
    </div>

    <!-- FORMULARIO -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Formulario de pago interactivo</h4>
        <p>
          Formulario interactivo de pago desarrollado con html, css y vanilla
          js. Desktop.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://formulario-tarjeta-de-credito.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/formulario-interactivo-js"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/formulario.png" alt="" />
      </div>
    </div>
  </article>
</section>
