<section class="container-fluid container-proyectos">
  <h3 class="proyectos text-center">PROYECTOS</h3>
  <article class="row contain d-flex justify-content-between">
    <!-- VIVOTEK -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Vivotek - Argentina</h4>
        <p>
          Desarrollo fullstack para empresa local distribuidora de cámaras de
          seguridad Vivotek. Este desarrollo incluyó tanto la landing page
          pública como un sistema interno de gestión. Para el frontend comercial
          utilicé Vue 3 con Nuxt.js, para optimizar el SEO y el rendimiento, con
          un catálogo dinámico de productos y diseño responsive. En paralelo,
          implementé un dashboard administrativo con Node.js, Express y MySQL,
          que permitía la carga y gestión de productos, seguimiento de ventas y
          operaciones CRUD.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://vvtk-arg.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/vivotek-argentina"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img class="b-side" src="../../../assets/img/vivotek.jpg" alt="" />
      </div>
    </div>

    <!-- INDORE PLANTS -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Indore Plants</h4>
        <p>
          Desarrollo para cliente especializado en venta de plantas. Me encargue
          desde el diseño de prototipo en figma hasta lograr el desarrollo de la
          landing page responsive. Las tecnologias que utilice fueron HTML5,
          CSS3, JavaScript y Tailwind CSS. Implementé un diseño moderno,
          adaptable a dispositivos móviles, con interacciones dinámicas para
          mejorar la experiencia del usuario.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://indore-plants-web.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/plantas-indor"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img class="b-side" src="../../../assets/img/indoreplants.jpg" alt="" />
      </div>
    </div>

    <!-- TRECAFFE -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Landing page cafeteria</h4>
        <p>
          En el año 2019, Desarrolle esta landing page para Trecaffè, una casa
          de café especializado, utilizando tecnologías fundamentales del
          frontend: HTML5, CSS3, JavaScript y jQuery. Implementé efectos fluidos
          con jQuery para transiciones suaves, asegurando un rendimiento óptimo
          y compatibilidad cross-browser. La página es completamente responsive,
          adaptándose desde móviles hasta desktop, con un enfoque en la estética
          minimalista.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://trecafe1.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/pagina-de-cafe"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/cafeteria.png" alt="" />
      </div>
    </div>

    <!-- FORMULARIO PARA DOMO  -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Formulario para DOMO</h4>
        <p>
          Desarrollo de formulario responsive para DOMO utilizando HTML5, CSS3,
          Bootstrap 5 y JavaScript. La implementación incluyó diseño accesible y
          adaptativo a distintos dispositivos, para mejorar la experiencia del
          usuario.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://lighthearted-monstera-4695ec.netlify.app/?"
            target="_blank"
            >Ver Demo</a
          >
          <!-- <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/pagina-de-cafe"
            target="_blank"
            >Ver Codigo</a
          > -->
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/formdomo.jpg" alt="" />
      </div>
    </div>

    <!-- RESTAURANTR -->
    <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Menu de restaurante - landing page</h4>
        <p>
          Landing page interactiva, utilizando HTML5, CSS3 y vanilla JavaScript
          para crear una experiencia digital que reflejara la esencia gourmet
          del establecimiento. El diseño responsive se adapta a distintos
          dispositivos, destacando una galería visual de sus platos. Implementé
          efectos de scroll suave y animaciones discretas para mejorar la
          interacción. La página fue optimizada para garantizar tiempos de carga
          rápidos. El resultado fue una plataforma digital que no solo muestra
          la propuesta culinaria del restaurante, sino que también incrementó
          significativamente las consultas y reservas mediante una interfaz
          intuitiva y visualmente atractiva.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://demo-menu-restaurante.netlify.app/
"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/restaurante.git"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img class="b-side" src="../../../assets/img/menu.jpg" alt="" />
      </div>
    </div>

    <!-- CUAL ES MI NUMERO -->
    <!-- <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Cual es mi numero</h4>
        <p>
          Juego interactivo. Desarrollado utilizando HTML, CSS y vanilla
          JavaScript, este juego te reta a adivinar un número secreto en un
          máximo de 10 intentos. Desktop.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://cual-es-mi-numero.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/cual_es_mi_numero"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/juego.png" alt="" />
      </div>
    </div> -->

    <!-- FORMULARIO -->
    <!-- <div
      class="col-12 col-lg-4 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-text w-100">
        <h4 class="titulo">Formulario de pago interactivo</h4>
        <p>
          Formulario interactivo de pago desarrollado con html, css y vanilla
          js. Desktop.
        </p>
        <div class="container-btns">
          <a
            class="demo btn-demo"
            href="https://formulario-tarjeta-de-credito.netlify.app/"
            target="_blank"
            >Ver Demo</a
          >
          <a
            class="btn-codigo"
            href="https://github.com/Hernan-99/formulario-interactivo-js"
            target="_blank"
            >Ver Codigo</a
          >
        </div>
      </div>
    </div>
    <div
      class="col-12 col-lg-8 mb-4 mb-md-5"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <div class="card-img w-100">
        <img src="../../../assets/img/formulario.png" alt="" />
      </div>
    </div> -->
  </article>
</section>
